<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>Blog de Rus</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilos_sesion.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
</head>


<body>
	<div class="container-fluid">
		<div class="row" id="pwd-container">
			<div class="col-xs-12 col-sm-offset-3 col-sm-6 col-dm-offset-3 col-dm-6 col-lg-offset-4 col-lg-4">
				<br>
				<br>
				<br>
				<br>
				<br>
				<section class="login-form">
					<div class="container-fluid">	
					<form class="form-group" method="post" action="#" role="login">
						<h2 class="login_title">Inicio de Sesión</h2>

						<label for="ID-Usuario">ID-Usuario:</label>
						<input type="text" id="ID-Usuario" placeholder="ID-Usuario" required class="form-control input-lg" />

						<label for="password">Password:</label>
						<input type="password" class="form-control input-lg" id="password" placeholder="Password" required/>

						<button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Ingresar</button>
					</form>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!--<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>-->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>