<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Hospital Rebagliati</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/estilos.css">
		<link rel="stylesheet" href="css/estilo_late.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
    	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
	</head>

	<body>
		<nav class="cabezera navbar">
			<div class="row">
			      	<div class="col-xs-12 col-sm-2 col-sm-offset-8">
			      		<form class="navbar-form" >
			      			<button type="submit" class="btn btn-link btn-block user"><span class="fa fa-user-plus fa-lg" aria-hidden="true"></span> &nbsp; Lic. Maria Elena</button>   			
						</form>
			      	</div>
			      	<div class="col-xs-12 col-sm-2 ">
			      		<form class="navbar-form">
		        			<button type="submit" class="btn btn-default btn-block"><span class="fa fa-times fa-lg" aria-hidden="true"></span> Salir</button>
						</form>
			      	</div>
			</div>
		</nav>
		<div class="row affix-row">
    		<div class="col-xs-12 col-sm-3 affix-content">
	    		<div class="nav-side-menu">
				    <div class="brand">Hospital Rebagliati</div>
				    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
				  
				        <div class="menu-list">
				  
				            <ul id="menu-content" class="menu-content collapse out">
				                <li>
				                  	<a href="inicio.html">
							       		<i class="fa fa-hospital-o fa-lg" aria-hidden="true"></i> &nbsp; Inicio
							       	</a>
				                </li>

				                <li  data-toggle="collapse" data-target="#RegistroPepido" class="collapsed">
				                  <a href="#"><i class="fa fa-clipboard fa-lg" aria-hidden="true"></i> &nbsp; Registro de pedido<span class="arrow"></span></a>
				                </li>
				                <ul class="sub-menu collapse" id="RegistroPepido">
				                    <li><a href="pediatria_neonatos-registro-pedidos-nueva-solicitud.html"> &nbsp; Nueva Solicitud</a></li>
					           		<li><a href="pediatria_neonatos-registro-pedidos-bandeja-solicitud.html"> &nbsp; Bandeja de pedidos</a></li>
				                </ul>


				                <li data-toggle="collapse" data-target="#FormuLacte" class="collapsed active">
				                  <a href="#"><i class="fa fa-calculator fa-lg" aria-hidden="true"></i> &nbsp; Formulas Lacteas<span class="arrow"></span></a>
				                </li>  
				                <ul class="sub-menu collapse in" id="FormuLacte">
				                  	<li><a href="pediatria_neonatos-formula-lactios-correccion-datos.html"> &nbsp; Correccion de Datos</a></li>
					           		<li class="active"><a href="pediatria_neonatos-formula-lactios-bandeja-aprobacion.html"> &nbsp; Bandeja Aprobada</a></li>
				                </ul>


				                <li data-toggle="collapse" data-target="#Estadistica" class="collapsed">
				                  <a href="#"><i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i> &nbsp; Estadisticas<span class="arrow"></span></a>
				                </li>
				                <ul class="sub-menu collapse" id="Estadistica">
				                  	<li><a class="menu_late" href="pediatria_neonatos-estadisticas-informacion-nutricional.html"> &nbsp; Informacion Nutricional</a></li>
					           		<li><a class="menu_late" href="pediatria_neonatos-estadisticas-formula-lactea.html"> &nbsp; Estadistica FL</a></li>
					           		<li><a class="menu_late" href="pediatria_neonatos-estadisticas-registro-tarea.html"> &nbsp; Registro de Tareas</a></li>
				                </ul>


				                 <li>
				                  <a href="pediatria_neonatos-reporte.html">
				                  	<i class="fa fa-file-text fa-lg" aria-hidden="true"></i> &nbsp; Reporte</a>
				                  </a>
				                  </li>

				                 <li>
				                  <a href="#">
				                  	<i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i> &nbsp; Administracion
				                  </a>
				                </li>
				                <li>
				                  <a href="#">
				                  	<i class="fa fa-user-secret fa-lg" aria-hidden="true"></i> &nbsp; Seguridad
				                  </a>
				                </li>
				            </ul>
				     </div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 affix-content">
				<div class="container"><br>
					<div class="panel panel-primary">
						<div class="panel-heading"><h1>Bandeja de Aprobacion</h1></div>
						<div class="panel-body">
							<div class="container-fluid">
								<div class="row"><h3>Busqueda</h3></div>
							    <div class="formuBorde row">
							    	<div class="col-sm-8">
							        	<form class="form-group">			        	
							        		<div class="col-sm-6">			        		
												<div class="form-group">
											    	<label for="CodigoSolic">Codigo solicitud</label>
											    	<input type="text" class="form-control" id="CodigoSolic">
											  	</div>
											  	<div class="form-group">
											    	<label for="Usuario">Usuario</label>
											    	<input type="text" class="form-control" id="Usuario">
											  	</div>
											  	<div class="form-group">
											    	<label for="FechaInicio">Fecha de inicio</label>
											    	<input type="date" class="form-control" id="FechaInicio">
											  	</div>							
							        		</div>
							        
							        		<div class="col-sm-6">			        		
				  								<div class="form-group">
											    	<label for="EstadSolic">Estado de Solicitud</label>
											    	<input type="text" class="form-control" id="EstadSolic">
											  	</div>
											  	<div class="form-group">
											    	<label for="Nutricionista">Nutricionista</label>
											    	<input type="text" class="form-control" id="Nutricionista">
											  	</div>
											  	<div class="form-group">
											    	<label for="FechaFin">Fecha de fin</label>
											    	<input type="date" class="form-control" id="FechaFin">
											  	</div>							
							        		</div>
							        		<button class="btn btn-primary btn-block">
							        			<span class="fa fa-search fa-lg" aria-hidden="true"></span> Buscar
							        		</button>
							        	</form>
							        </div>							    
							        <div class="col-sm-4">
							        	<form class="form-froup">
				  							<div class="form-group">
				    							<div class="form-group">
				    								<div class="input-group">
					      								<div class="input-group-addon">
					      									<button disabled class="btn btn-default"></button>
					      								</div>
					      								<label class="form-control" >En Digitacion</label>
					  								</div>
				    							</div>
				    							<div class="form-group">
				    								<div class="input-group">
					      								<div class="input-group-addon">
					      									<button disabled class="btn btn-primary"></button>
					      								</div>
					      								<label class="form-control" >Registrado Modificacion</label>
					  								</div>
				    							</div>
				    							<div class="form-group">
				    								<div class="input-group">
					      								<div class="input-group-addon">
					      									<button disabled class="btn btn-warning"></button>
					      								</div>
					      								<label class="form-control" >Pendiente de Aprobacion</label>
					  								</div>
				    							</div>
				    							<div class="form-group">
				    								<div class="input-group">
					      								<div class="input-group-addon">
					      									<button disabled class="btn btn-info"></button>
					      								</div>
					      								<label class="form-control" >En Evaluacion</label>
					  								</div>
				    							</div>
				    							<div class="form-group">
				    								<div class="input-group">
					      								<div class="input-group-addon">
					      									<button disabled class="btn btn-success"></button>
					      								</div>
					      								<label class="form-control" >Aprobado</label>
					  								</div>
				    							</div>
				    							<div class="form-group">
					    							<div class="input-group">
					      								<div class="input-group-addon">
					      									<button disabled class="btn btn-danger"></button>
					      								</div>
					      								<label class="form-control" >Cancelado</label>
					  								</div>
				    							</div>
				  							</div>
										</form>
							        </div>								    
							    </div>
						    </div>
						    <div class="container-fluid">
						    	<div class="row"><h3>Listado</h3></div>
						    		<div class="formuBorde row">
										<div class="container-fluid">
											<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
									        <thead>
									            <tr>
									            	<th></th>
									                <th>Solicitud</th>
									                <th>Unidad</th>
									                <th></th>
									                <th>Estado</th>
									                <th>Nº camas</th>
									                <th>Registro de Fechas</th>
									                <th>Fechas Modificadas</th>
									                <th>Usuario Creacion</th>
									            </tr>
									        </thead>
									        <tfoot>
									            <tr>
									            	<th></th>
									                <th>Solicitud</th>
									                <th>Unidad</th>
									                <th></th>
									                <th>Estado</th>
									                <th>Nº camas</th>
									                <th>Registro de Fechas</th>
									                <th>Fechas Modificadas</th>
									                <th>Usuario Creacion</th>
									            </tr>
									        </tfoot>
									        <tbody>
									            <tr  id="prueba1" name="prueba1">
									            	<td>
									            		<label class="checkbox-inline">
															<input type="checkbox" id="inlineCheckbox1" value="option2"> &nbsp;
														</label>
									            	</td>
									                <td>Tiger Nixon</td>
									                <td>System Architect</td>
									                <td></td>
									                <td>61</td>
									                <td>2011/04/25</td>
									                <td>$320,800</td>
									                <td>2011/04/25</td>
									                <td>$320,800</td>
									            </tr>
									            <tr id="prueba2" name="prueba2">
									            	<td>
									            		<label class="checkbox-inline">
															<input type="checkbox" id="inlineCheckbox1" value="option2"> &nbsp;
														</label>
									            	</td>
									                <td>Garrett Winters</td>
									                <td>Accountant</td>
									                <td></td>
									                <td>63</td>
									                <td>2011/07/25</td>
									                <td>$170,750</td>
									                <td>2011/04/25</td>
									                <td>$320,800</td>
									            </tr>
									            <tr>
									            	<td>
									            		<label class="checkbox-inline">
															<input type="checkbox" id="inlineCheckbox1" value="option2"> &nbsp;
														</label>
									            	</td>
									                <td>Ashton Cox</td>
									                <td>Junior Technical Author</td>
									                <td></td>
									                <td>66</td>
									                <td>2009/01/12</td>
									                <td>$86,000</td>
									                <td>2011/04/25</td>
									                <td>$320,800</td>
									            </tr>
									            <tr>
									            	<td>
									            		<label class="checkbox-inline">
															<input type="checkbox" id="inlineCheckbox1" value="option2"> &nbsp;
														</label>
									            	</td>
									                <td>Cedric Kelly</td>
									                <td>Senior Javascript Developer</td>
									                <td></td>
									                <td>22</td>
									                <td>2012/03/29</td>
									                <td>$433,060</td>
									                <td>2011/04/25</td>
									                <td>$320,800</td>
									            </tr>
									            <tr>
									            	<td>
									            		<label class="checkbox-inline">
															<input type="checkbox" id="inlineCheckbox1" value="option2"> &nbsp;
														</label>
									            	</td>
									                <td>Airi Satou</td>
									                <td>Accountant</td>
									                <td></td>
									                <td>33</td>
									                <td>2008/11/28</td>
									                <td>$162,700</td>
									                <td>2011/04/25</td>
									                <td>$320,800</td>
									            </tr>
									            <tr>
									            	<td>
									            		<label class="checkbox-inline">
															<input type="checkbox" id="inlineCheckbox1" value="option2"> &nbsp;
														</label>
									            	</td>
									                <td>Brielle Williamson</td>
									                <td>Integration Specialist</td>
									                <td></td>
									                <td>61</td>
									                <td>2012/12/02</td>
									                <td>$372,000</td>
									                <td>2011/04/25</td>
									                <td>$320,800</td>
									            </tr>
									            <tr>
									            	<td>
									            		<label class="checkbox-inline">
															<input type="checkbox" id="inlineCheckbox1" value="option2"> &nbsp;
														</label>
									            	</td>
									                <td>Herrod Chandler</td>
									                <td>Sales Assistant</td>
									                <td></td>
									                <td>59</td>
									                <td>2012/08/06</td>
									                <td>$137,500</td>
									                <td>2011/04/25</td>
									                <td>$320,800</td>
									            </tr>
									            <tr>
									            	<td>
									            		<label class="checkbox-inline">
															<input type="checkbox" id="inlineCheckbox1" value="option2"> &nbsp;
														</label>
									            	</td>
									                <td>Rhona Davidson</td>
									                <td>Integration Specialist</td>
									                <td></td>
									                <td>55</td>
									                <td>2010/10/14</td>
									                <td>$327,900</td>
									                <td>2011/04/25</td>
									                <td>$320,800</td>
									            </tr>									            
									        </tbody>
									    </table>
										</div>
									</div>
								<div class="col-sm-12"><br>
						    		<form class="form-group">
						    			<div class="col-xs-2 col-xs-offset-10">
						    				<button class="btn btn-danger btn-lg btn-block">
						    					<span class="fa fa-power-off fa-lg" aria-hidden="true"></span> Salir
						    				</button>
						    			</div>
						    		</form>
						    	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>-->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>﻿

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
			    $('#example').DataTable();
			} );
		</script>
	</body>
</html>